.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    height: 24px;
}

.button:focus {
    outline: 2px solid #D7DCFF;
    border-radius: 8px;
}

.icon {
    width: 16px;
    height: 16px;
    fill: #535559;
}